html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  background: #373741;
  overflow: hidden;
  font-family: "Roboto";
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.vehInspector {
  display: none;
}

.simulator {
  display: none;
}

.b {
  color: #1eb980;
  cursor: default;
}
.b:hover {
  filter: brightness(150%);
}
.b:active i {
  filter: brightness(50%);
}

/* NAV BUTTONS */
i {
  font-size: 2em;
}

.zoomButtons {
  position: absolute;
  color: #FFF;
  bottom: 1em;
  left: 1em;
  cursor: pointer;
}
.zoomButtons i {
  font-size: 2em;
}
.zoomButtons .zoomIn {
  margin-bottom: 1em;
}

.fullScreen {
  position: absolute;
  color: #FFF;
  top: 1em;
  left: 1em;
}
.fullScreen i {
  font-size: 2em;
}

.scrollbar {
  position: absolute;
  color: #FFF;
  top: 0;
  right: 20vw;
  height: 100vh;
}
.scrollbar i {
  font-size: 2em;
}
.scrollbar .up {
  position: absolute;
  top: 1em;
  right: 1em;
}
.scrollbar .down {
  position: absolute;
  bottom: 1em;
  right: 1em;
}

.rightPanel {
  width: 20vw;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  font-family: "Roboto";
  overflow: hidden;
}
.rightPanel .mainPanel {
  display: flex;
  flex-direction: column;
}
.rightPanel .mainPanel .top {
  display: flex;
  flex-direction: row;
}
.rightPanel .mainPanel .top .l img.logo {
  width: 5rem;
  padding: 1em;
}
.rightPanel .mainPanel .top .r {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.rightPanel .mainPanel .top .r .logoName {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 300;
  padding: 1em 0;
  padding-bottom: 0;
}
.rightPanel .mainPanel .top .r .nav {
  display: flex;
  justify-content: space-around;
}
.rightPanel .mainPanel .top .r .nav .playPause, .rightPanel .mainPanel .top .r .nav .stop, .rightPanel .mainPanel .top .r .nav .replay {
  border-radius: 100%;
  cursor: pointer;
}
.rightPanel .mainPanel .top .r .nav .playPause:hover, .rightPanel .mainPanel .top .r .nav .stop:hover, .rightPanel .mainPanel .top .r .nav .replay:hover {
  background: rgba(255, 255, 255, 0.1);
}
.rightPanel .mainPanel .option .title {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
  font-size: 0.9rem;
  padding: 1em;
  padding-bottom: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rightPanel .mainPanel .option .title .addLaneClosure, .rightPanel .mainPanel .option .title .addSpeedLimit {
  color: #1eb980;
  font-size: 32px;
  margin-right: 0.8rem;
  cursor: default;
}
.rightPanel .mainPanel .option .title .addLaneClosure:hover, .rightPanel .mainPanel .option .title .addSpeedLimit:hover {
  filter: brightness(150%);
}
.rightPanel .mainPanel .option .title .addLaneClosure:active, .rightPanel .mainPanel .option .title .addSpeedLimit:active {
  filter: brightness(50%);
}
.rightPanel .mainPanel .option .title .speedSliderCounter {
  text-align: right;
}
.rightPanel .mainPanel .option .desc {
  padding: 0 1em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.rightPanel .mainPanel .option .desc .inputTraffic {
  background: transparent;
  border: 0;
  color: #fff;
  font-size: 2em;
  font-family: "Roboto";
  font-weight: 300;
  padding: 0.2em;
  text-align: center;
  width: 4em;
  border-bottom: 1px solid #51515e;
}
.rightPanel .mainPanel .option .desc .inputTrafficLabel {
  font-size: 1.5em;
  padding: 0.2em;
  font-weight: 300;
  vertical-align: baseline;
}
.rightPanel .mainPanel .option .desc .speedSlider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  width: 100%;
  /* Full-width */
  height: 3px;
  /* Specified height */
  background: #1eb980;
  /* Grey background */
  outline: none;
  /* Remove outline */
  -webkit-transition: 0.2s;
  /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
  border-radius: 5px;
  margin: 1.5em 0;
}
.rightPanel .mainPanel .option .desc .speedSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 20px;
  /* Set a specific slider handle width */
  height: 20px;
  /* Slider handle height */
  background: #1eb980;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
  border-radius: 100%;
}
.rightPanel .mainPanel .option .desc .speedSlider::-moz-range-thumb {
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  background: #4CAF50;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}
.rightPanel .mainPanel .option .desc .trig {
  text-align: center;
  padding: 1em 0.6em;
  transition: all 0.1s ease;
  border-radius: 0.5em;
  cursor: default;
}
.rightPanel .mainPanel .option .desc .trig img {
  height: 2em;
}
.rightPanel .mainPanel .option .desc .trig .dsc {
  font-size: 0.8rem;
  padding: 1em 0;
}
.rightPanel .mainPanel .option .desc .trig:hover {
  filter: brightness(150%);
}
.rightPanel .mainPanel .option .desc .trig:active {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 100%;
}
.rightPanel .mainPanel .option .desc .list {
  border: 1px solid #51515e;
  border-radius: 0.2em;
  width: 100%;
}
.rightPanel .mainPanel .option .desc .list .allowedVehiclesEntry {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: default;
}
.rightPanel .mainPanel .option .desc .list .allowedVehiclesEntry .name {
  padding: 0.8em;
}
.rightPanel .mainPanel .option .desc .list .allowedVehiclesEntry i {
  color: #1eb980;
  margin-right: 1em;
}
.rightPanel .mainPanel .option .desc .list .allowedVehiclesEntry:hover {
  filter: brightness(150%);
}
.rightPanel .mainPanel .option .desc .list .allowedVehiclesEntry:active i {
  filter: brightness(50%);
}
.rightPanel .mainPanel .option .desc .list .laneClosureEntry, .rightPanel .mainPanel .option .desc .list .speedLimitEntry {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: default;
}
.rightPanel .mainPanel .option .desc .list .laneClosureEntry .name, .rightPanel .mainPanel .option .desc .list .speedLimitEntry .name {
  padding: 0.8em;
}
.rightPanel .mainPanel .option .desc .list .laneClosureEntry i, .rightPanel .mainPanel .option .desc .list .speedLimitEntry i {
  color: #1eb980;
  margin-right: 1em;
}
.rightPanel .mainPanel .option .desc .list .laneClosureEntry:hover, .rightPanel .mainPanel .option .desc .list .speedLimitEntry:hover {
  filter: brightness(150%);
}
.rightPanel .mainPanel .option .desc .list .laneClosureEntry:active i, .rightPanel .mainPanel .option .desc .list .speedLimitEntry:active i {
  filter: brightness(50%);
}

/* VEHICLE INSPECTOR */
.vehInspector {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.vehInspector .topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.vehInspector .topBar .l {
  display: flex;
  align-items: center;
}
.vehInspector .topBar .l .backButton {
  padding: 0.8em;
  margin: 0.2em;
  border-radius: 100%;
  cursor: default;
}
.vehInspector .topBar .l .backButton:hover {
  background: rgba(255, 255, 255, 0.1);
}
.vehInspector .topBar .l .backButton:active {
  background: rgba(255, 255, 255, 0.3);
}
.vehInspector .topBar .l .title {
  padding: 1em;
}
.vehInspector .topBar .deleteButton {
  padding: 1em;
}
.vehInspector .mainSection .changeableProperty {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 2em;
}
.vehInspector .mainSection .changeableProperty select {
  padding: 0.5em 1em;
  font-family: "Roboto";
  color: #fff;
  background: transparent;
  background-color: #373741;
  font-size: 1rem;
  border: 0;
  border-bottom: 1px solid #51515e;
}
.vehInspector .mainSection .changeableProperty input {
  background: transparent;
  border: 0;
  color: #fff;
  font-size: 2em;
  font-family: "Roboto";
  font-weight: 300;
  padding: 0.2em;
  text-align: center;
  width: 4em;
  border-bottom: 1px solid #51515e;
}
.vehInspector .bottomSection {
  display: flex;
  flex-direction: column;
}
.vehInspector .bottomSection .vehProperty {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}
/* STATS */
.statistics {
  display: none;
  flex-direction: column;
}
.statistics .title {
  font-size: 2em;
  font-weight: 300;
  color: #1eb980;
  padding: 1em;
}
.statistics .vehProperty {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}
/* WELCOME SCREEN */
.welcomeScreen {
  display: flex;
  height: 100vh;
  color: #FFF;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.welcomeScreen .logo img {
  width: 10em;
}
.welcomeScreen .logo .title {
  text-transform: uppercase;
  font-weight: 100;
  margin-top: 1em;
  font-size: 1.7em;
  line-height: 140%;
}
.welcomeScreen .logo .title p:first-of-type {
  font-size: 1.8em;
}
.welcomeScreen .startButton {
  padding: 2em;
}
.welcomeScreen .startButton i {
  border-radius: 100%;
  border: 1px solid white;
  display: block;
  padding: 0.7em;
  margin: 1em;
  font-size: 1.5em;
  transition: all 0.2s ease;
  cursor: pointer;
}
.welcomeScreen .startButton i:hover {
  transform: scale(1.2);
  background: white;
  color: #373741;
}
.welcomeScreen .startButton .text {
  text-transform: uppercase;
  font-weight: 300;
}
.welcomeScreen .about {
  padding: 2em;
  line-height: 150%;
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.5);
}
.welcomeScreen .about a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.wizard {
  display: none;
  color: #fff;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.wizard .title {
  text-transform: uppercase;
  font-weight: 100;
  margin-top: 1em;
  font-size: 2em;
  line-height: 140%;
}
.wizard img {
  width: 10em;
  padding: 1em;
}
.wizard .desc {
  padding: 1em;
  font-weight: 300;
}
.wizard .errorMessage {
  display: none;
  color: #ff8a80;
  align-items: center;
}
.wizard .errorMessage p {
  padding: 1em;
  padding-left: 0.5em;
}
.wizard .motorwayLengthInput {
  display: flex;
  align-items: center;
  padding: 1em;
}
.wizard .motorwayLengthInput input {
  background: transparent;
  border: 0;
  color: #fff;
  font-size: 2em;
  font-family: "Roboto";
  font-weight: 300;
  padding: 0.2em;
  text-align: center;
  width: 2em;
  border-bottom: 1px solid #51515e;
}
.wizard .motorwayLengthInput input:focus {
  outline-color: #FFF;
  outline-width: 2px;
}
.wizard .motorwayLengthInput .inputLabel {
  padding: 1em;
}
.wizard .startButton i {
  border-radius: 100%;
  border: 1px solid white;
  display: block;
  padding: 0.7em;
  margin: 1em;
  font-size: 1.5em;
  transition: all 0.2s ease;
  cursor: pointer;
}
.wizard .startButton i:hover {
  transform: scale(1.2);
  background: white;
  color: #373741;
}
.wizard .startButton .text {
  text-transform: uppercase;
  font-weight: 300;
  padding-bottom: 3em;
}
.wizard .extra {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
}

/* JUNCTION POS SELECT */
.junctionInputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.junctionInputs input {
  width: 3em !important;
}

.junctionSlider {
  width: 500px;
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}
.junctionSlider .arrow {
  display: flex;
  align-items: center;
  background: #424250;
  height: 10px;
  width: 100%;
  position: relative;
}
.junctionSlider .arrow .j {
  background: #1eb980;
  border-radius: 0.2em;
  padding: 0.7em 1em;
  color: #424250;
  position: absolute;
}
.junctionSlider .legend {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}
.junctionSlider .legend .km {
  padding: 0.5em;
}

/* DISTR SELECT */
.distrList {
  display: flex;
  flex-wrap: wrap;
}
.distrList .distr {
  display: flex;
  padding: 1em;
}
.distrList .distr .icon img {
  width: 5em;
  padding-right: 0;
}
.distrList .distr .forms {
  display: flex;
  flex-direction: column;
}
.distrList .distr .forms .name {
  text-align: left;
  padding: 0.5em 1em;
}
.distrList .distr .forms .inputs input {
  background: transparent;
  border: 0;
  color: #fff;
  font-size: 2em;
  font-family: "Roboto";
  font-weight: 300;
  padding: 0.2em;
  margin: 0.2em;
  text-align: center;
  width: 2em;
  border-bottom: 1px solid #51515e;
}
.distrList .distr .forms .inputs input:focus {
  outline-color: #FFF;
  outline-width: 2px;
}

/* LANE CLOSURES */
.laneClosureList .laneClosureAdd, .laneClosureList .speedLimitAdd, .speedLimitList .laneClosureAdd, .speedLimitList .speedLimitAdd {
  display: none;
}
.laneClosureList .laneClosureAdd input, .laneClosureList .speedLimitAdd input, .speedLimitList .laneClosureAdd input, .speedLimitList .speedLimitAdd input {
  background: transparent;
  border: 0;
  color: #fff;
  font-size: 1.5em;
  font-family: "Roboto";
  font-weight: 300;
  padding: 0.2em;
  width: 3em;
  flex-grow: 1;
  text-align: center;
  border-bottom: 1px solid #51515e;
}
.laneClosureList .laneClosureAdd input:focus, .laneClosureList .speedLimitAdd input:focus, .speedLimitList .laneClosureAdd input:focus, .speedLimitList .speedLimitAdd input:focus {
  outline-color: #FFF;
  outline-width: 2px;
}
.laneClosureList .laneClosureAdd .laneClosureAddConfirm, .laneClosureList .laneClosureAdd .speedLimitAddConfirm, .laneClosureList .speedLimitAdd .laneClosureAddConfirm, .laneClosureList .speedLimitAdd .speedLimitAddConfirm, .speedLimitList .laneClosureAdd .laneClosureAddConfirm, .speedLimitList .laneClosureAdd .speedLimitAddConfirm, .speedLimitList .speedLimitAdd .laneClosureAddConfirm, .speedLimitList .speedLimitAdd .speedLimitAddConfirm {
  color: #1eb980;
  padding: 1em;
  border-bottom: 1px solid #51515e;
  cursor: default;
}
.laneClosureList .laneClosureAdd .laneClosureAddCancel, .laneClosureList .laneClosureAdd .speedLimitAddCancel, .laneClosureList .speedLimitAdd .laneClosureAddCancel, .laneClosureList .speedLimitAdd .speedLimitAddCancel, .speedLimitList .laneClosureAdd .laneClosureAddCancel, .speedLimitList .laneClosureAdd .speedLimitAddCancel, .speedLimitList .speedLimitAdd .laneClosureAddCancel, .speedLimitList .speedLimitAdd .speedLimitAddCancel {
  color: #ff8a80;
  padding: 1em;
  border-bottom: 1px solid #51515e;
  cursor: default;
}
.laneClosureList .errorLaneClosure, .laneClosureList .errorSpeedLimit, .speedLimitList .errorLaneClosure, .speedLimitList .errorSpeedLimit {
  display: none;
  color: #ff8a80;
  align-items: center;
  padding: 0 1em;
}
.laneClosureList .errorLaneClosure p, .laneClosureList .errorSpeedLimit p, .speedLimitList .errorLaneClosure p, .speedLimitList .errorSpeedLimit p {
  padding: 1em;
  padding-left: 0.5em;
}

/*# sourceMappingURL=style.css.map */
